body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.main-content {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.form-container {
    margin-top: 20px; /* Adjust this to move the form slightly higher */
}

.video-container {
    width: 40%;
    text-align: right;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .video-container {
        width: 100%;
        text-align: center;
    }
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}
